

body {background-color: green;}

h1 {  width: 320px;
    padding: 10px;
    border: 5px solid black;
    margin: 10;
  background-color: red;}

p {  width: 320px;
      padding: 10px;
      border: 5px solid black;
      margin: 10;
    background-color: blue;
      color: white;}

code {
    background-color: white;
      color: blue;
}

h2, ol, li {color: red;}
